<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.d3adliner.deadliner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.d3adliner.d3adliner.view.TodayActivity"
            android:label="Today"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.d3adliner.d3adliner.view.TimelineActivity"
            android:label="Timeline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.d3adliner.d3adliner.view.SubjectsActivity"
            android:label="Subjects"/>
        <activity
            android:name="net.d3adliner.d3adliner.view.TodosActivity"
            android:label="Todos"/>
    </application>

</manifest>